/* ==========================================================================
*
* Custom CSS Stylesheet. This is where you should add your own styles!
*
** ========================================================================== */

/* Simple style overrides or custom adds */
@font-face {
  font-family: firago;
  src: url('../fonts/firago/FiraGO-Regular.eot');
  src: url('../fonts/firago/FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/firago/FiraGO-Regular.woff2') format('woff2'), 
    url('../fonts/firago/FiraGO-Regular.woff') format('woff');
    /*url('../fonts/firago/FiraGO-Regular.ttf') format('truetype');*/
}

@font-face {
  font-family: firagoBold;
  src: url('../fonts/firago/FiraGO-Bold.eot');
  src: url('../fonts/firago/FiraGO-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/firago/FiraGO-Bold.woff2') format('woff2'), 
    url('../fonts/firago/FiraGO-Bold.woff') format('woff');
    /*url('../fonts/firago/FiraGO-Regular.ttf') format('truetype');*/
}

.services_box.services_box--modern {
    background-color: #F1F0FF;
    border-radius: 15px;
    padding: 25px 15px;
    min-height: 485px;
    text-align: center;
    margin-bottom: 30px;
}

.blog-top-part ul.menu {
        width: calc(100% - 120px);
    text-align: right;
}

.blog-top-part ul.menu li {
    display: inline-block;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 22px;
    padding: 8px 17px;
        font-size: 16px;
}

.blog-top-part ul.menu li a {
    color: #a4a4a4;
}

.blog-top-part ul.menu li:hover {
    background-color: #00aeef;
}

.blog-top-part ul.menu li:hover a {
    color: #fff;
}

.contactForm {
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
}

.contactForm label {
    font-size: 20px;
  color: #231f20;
}

.bold {
    font-family: firagoBold;
}

body.page-template-blog,
body.page-template-tpl-contact,
body.page-id-202 {
     background-color: #f1f0ff;
}

body.page-id-202  .hg_badge_container {
        left: -44px;
}

@media (min-width: 1200px) {
    body.page-id-202 .container {
        max-width: 1240px;
    }
}

.hg-portfolio-sortable #portfolio-nav li a {
    padding: 11px 24px 12px 25px;
    border-radius: 20px;
    /*background-color: #00aeef;*/
    background-color: #fff;
    border-radius: 20px;
    color: #919191;
     font-size: 14px;
  font-weight: 500;
}

.hg-portfolio-sortable ul#thumbs li {
    margin-bottom: 50px;
}

.hg-portfolio-sortable #portfolio-nav li a:hover, .hg-portfolio-sortable #portfolio-nav li.current a {
    color: #fff;
    background-color: #00aeef;
}

.hg-portfolio-sortable ul#thumbs {
    overflow: visible;
}

.hg-portfolio-sortable ul#thumbs li .inner-item .moduleDesc {
    color: #919191;
    font-size: 14px;
}

.hg-portfolio-sortable ul#thumbs li .inner-item h4 a {
    color: #231f20;
    font-family: firago;
  font-size: 16px;
  font-weight: 500;
}

.hg_badge_sale:after, .hg_badge_new:after {
    display: none;
}

.hg-portfolio-sortable ul#thumbs[data-columns="4"] li {
    width: calc(25% - 30px);
}

body .hg_badge_sale {
    padding: 5px 18px 5px 19px;
    border-radius: 16px;
    background-color: #00aeef;
    font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-feature-settings: "case" on;
}

.hg-portfolio-sortable ul#thumbs li .inner-item {
 border-radius: 15px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
}

.hg-portfolio-sortable ul#thumbs li .inner-item img {
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.kl-iconbox__desc {
    font-size: 14px;
    line-height: 17px;
}

.home-shop-section {
    position: relative;
}

.home-shop-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #231f20;
    z-index: 1;
    height: 228px;
    width: 100%;
}

.home-shop-section .row {
    position: relative;
    z-index: 2;
}

.home-shop-section h2 {
    /*font-size: 26px;*/
    color: #fff;
    line-height: 22px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.home-shop-section .box {
    width: 100%;
    border-radius: 15px;
    background-color: #00aeef;
    position: relative;
    overflow: hidden;
    height: 270px;
}

.home-shop-section .box img {
    height: 270px;
    width: auto;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.home-shop-section .box h3 {
    position: absolute;
    top: 46%;
    right: 35px;
    color: #fff;
    font-family: firago;
    font-feature-settings: normal;
}


body .ts-pt-partners__img {
    max-height: 120px;
}

body {
	color: #231f20;
	font-family: firago;
	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	font-size: 18px;
  	letter-spacing: normal;
  	    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
.tbk__title {
	color: #000;
    font-family: firagoBold;
	text-transform: uppercase;
	font-feature-settings: "case" on;
}

body .iosSlider .kl-iosslide-caption .main_title {
	text-transform: lowercase;
	font-feature-settings: normal;
}

.iosSlider .kl-iosslide-caption .more,
.main-nav > ul > li > a {
	text-transform: uppercase;
	font-feature-settings: "case" on;
}

footer {
	 background-color: #231f20;
}

.main-nav > ul > li > a.current-menu-parent:before,
.main-nav > ul > li.current-menu-parent > a:before, 
.main-nav > ul > li.current_page_item > a:before, 
.main-nav > ul > li > a:hover:before, 
.main-nav > ul > li:hover > a:before, 
.main-nav > ul > li > a.current_page_item:before {
	height: 100%;
    opacity: 1;
}

body .page-subheader .ph-content-wrap {
    padding-top: 150px;
}

body .page-subheader .ph-content-wrap {
    width: 100%;
    height: 220px;
    min-height: 220px;
}

body .post-content li,
body .post-content ul {
	list-style: inherit;
}

.languages {
    display: flex;
    margin-top: 10px;
    margin-left: 0px;
}

.languages a {
    text-transform: uppercase;
    color: #919191;
    margin-left: 5px;
    transition: all 0.3s ease;
    width: 31px;
    height: 31px;
    border-radius: 8px;
    background-color: #ffffff;
    display: inline-block;
    line-height: 31px;
    font-size: 14px;
    text-align: center;
}

.languages a:hover,
.languages a.active {
    background-color: #00aeef;
    color: #fff;
}

.services_box--modern.sb--hasicon .services_box__title {
    height: 80px;
    margin-bottom: 0;
    color: #000;
    margin-top: 25px;
    font-feature-settings: normal;
}

.site-header-top-left {
    width: 60px;
}

.site-header-top-right {
    width: auto;
    flex: 1;
}

h3.kl-iconbox__title {
	color: #000 !important;
	font-weight: 700;
	height: 55px;
    display: flex;
    align-items: center;
}

p.kl-iconbox__desc {
	color: #231f20; 
}

.main-menu-wrapper {
        margin-right: auto;
    margin-left: auto;
        margin-top: 8px;
}

body .kl-ioscaption--style4 .main_title::before {
	background: #231f20;
}

.kl-ioscaption--style4 .main_title {
	padding: 10px 20px;
}

kl-ioscaption--style4 .more {
    margin-left: -3px;
}

body .hg_badge_sale {
    background-color: #3db5f0;
}

.imgboxes_style4 .imgboxes-wrapper {
    border-radius: 15px;
    overflow: hidden;
}

.image-boxes.imgboxes_style4 p {
    font-size: 14px;
    color: #231f20;
}

section.map-section {
    position: relative; 
    z-index: 9123;
    padding: 0;
    top: 150px;
}

.map-section a.active,
.map-section a:hover {
     background-color: #00aeef;
     color: #fff;
}

@media (max-width: 992px) {
    body #header.site-header {
        position: fixed !important;
        left: 0;
        bottom: 0;
        z-index: 12;
        width: 100%;
    }

    #footer .bottom {
        display: none;
    }

    body #footer {
        padding-bottom: 90px;
    }

    .fb_dialog_content > iframe {
        bottom: 90vh !important;
    }

    body .hidden-xs {
        display: none !important; 
    }

    body .site-header .site-header-top {
        height: 60px;
    }

    body #zn-res-menu {
        width: 70%;
    }

    .portfolio-item .img-intro img, .hg-portfolio-sortable .item .img-intro img {
        height: 220px !important;
        object-fit: contain !important;
    }

    body #zn-res-menuwrapper,
    body .toplang-item,
    body .site-logo {
        padding-top: 8px;
    }

    body .languages {
        margin-left: 10px;
    }

    #zn-res-menuwrapper {
        margin-left: 20px;
    }

    #zn-res-menu {
        padding-top: calc(100vh - 450px) !important;
    }
}





